<%= simple_form_for @test_wizard, as: :test_wizard, url: validate_step_smart_status_test_result_path do |f| %>
  <%= f.error_notification %>

  <%= hidden_field_tag :current_step, 'test_b_feedback' %>

  <div id="test-b-qualitative-feedback">
    <%= f.input 'test_b_general_feedback',
      as: :text,
      label: 'Given what you just configured, what could have been done to make this better? What worked for you? What didn’t work for you? Please explain in detail.',
      required: false,
      input_html: { rows: 5, cols: 100 } %>
  </div>

  <%= render partial: 'submit', locals: { f: f } %>
<% end -%>
